body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.App header {
  margin: 30px 0;
}

.App h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
}

.App footer {
  margin: 30px 0;
}
